@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@0,100..900;1,100..900&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@0,100..900;1,100..900&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=M+PLUS+1p&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@0,100..900;1,100..900&family=Geologica:wght@100..900&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=M+PLUS+1p&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@0,100..900;1,100..900&family=Geologica:wght@100..900&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=M+PLUS+1p&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Sofia+Sans+Semi+Condensed:ital,wght@0,1..1000;1,1..1000&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  padding-top: 110px;
  font-family: Arial, Verdana, sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/*Шапка*/

.header {
  font-family: "Alumni Sans", Arial, Helvetica, sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 9999;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  transition: box-shadow 0.3s;
  background: transparent;
  border-bottom: 1px solid black;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
  transition: padding-top 0.3s, padding-bottom 0.3s;
}

.header_mini {
  box-shadow: 0px 0px 30px -11px rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

.header_mini .header__container {
  padding-top: 5px;
  padding-bottom: 5px;
}

.logo {
  display: block;
}

.logo__img {
  display: block;
  height: 60px;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.menu__list {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
  color: black;
}

.menu__item:not(:last-child) {
  margin-right: 20px;
}

.menu__item:last-child {
  opacity: 1;
}

.menu__number {
  font-size: 30px;
}

.menu__btn {
  color: #2d509b;
  padding: 0;
  border: none;
  font: inherit;
  background-color: transparent;
  cursor: pointer;
  padding-left: 10px;
  text-decoration: underline;
  font-size: 20px;
  transition: all 0.3s ease;
  opacity: 1;
}
#close-call-modal-btn {
  padding: 5px;
  border: none;
  font: inherit;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 8px;
  transition: all 0.3s ease;
}
#close-call-modal-btn:hover {
  transform: scale(1.2);
}
.modal {
  font-family: "Sofia Sans Semi Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  position: fixed;
  font-size: 30px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 998;
  background-color: rgba(0, 0, 0, 0.3);
  display: grid;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  box-shadow: 6px 6px 4px 6px rgba(34, 60, 80, 0.2);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4s, visibility 0.4s;
}

.modal-box {
  border: 2px solid rgb(255, 174, 23);
  max-width: 500px;
  padding: 45px;
  z-index: 1;
  background-color: white;
  margin: 30px 15px;
  box-shadow: 0px 0px 10px 5px rgba(34, 60, 80, 0.44);
  transform: scale(0);
  transition: transform 0.6s;
}

.modal.open {
  visibility: visible;
  opacity: 1;
}

.modal.open .modal-box {
  transform: scale(1);
}

.call-form {
  display: flex;
  flex-wrap: wrap;
}

.name {
  font-size: 25px;
  margin-bottom: 10px;
}
.tel {
  font-size: 25px;
}
.btn-submit {
  margin-top: 10px;
  font-size: 25px;
  padding: 0;
  border: none;
  font: inherit;
  background-color: transparent;
  cursor: pointer;
  color: white;
  font-weight: 500;
  padding: 5px;
  border-radius: 5px;
  background-color: rgb(219, 131, 59);
  transition: all 0.3s ease;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.btn-submit:hover {
  padding: 9px;
  font-size: 37px;
  box-shadow: 1px 1px 5px 2px rgba(255, 255, 255, 0.7);
}
.image-scroller {
  overflow: hidden;
}
/*Форма захвата*/
.attention {
  background-image: url(/img/bg_atention.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: block;
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto;
  color: #fff;
  font-weight: 500;
  font-family: "Geologica", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  transition: all 0.1s ease-in-out;
}

.attention-title {
  text-shadow: 2px 4px 2px rgb(0, 0, 0);
  padding-top: 50px;
  font-size: 50px;
  font-weight: 350;
  pointer-events: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

/*Информация*/

.attention-name {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-size: 70px;
  text-shadow: 1px 6px 12px #241504;
  font-weight: 450;
  pointer-events: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.flag1 {
  justify-content: center;
  margin-right: 20px;
  width: 1cm;
  pointer-events: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.flag2 {
  transform: scale(-1, 1);
  margin-left: 20px;
  width: 1cm;
  pointer-events: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.attention-info {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  padding: 20px;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.8);
}

.attention-btn {
  padding: 0;
  border: none;
  font: inherit;
  background-color: transparent;
  cursor: pointer;
  color: white;
  margin-left: 10px;
  font-weight: 500;
  padding: 5px;
  border-radius: 5px;
  background-color: rgb(219, 131, 59);
  transition: all 0.3s ease;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.attention-btn:hover {
  padding: 9px;
  font-size: 21px;
  box-shadow: 1px 1px 5px 2px rgba(255, 255, 255, 0.7);
}

.line {
  pointer-events: none;
  user-select: none;
}

/*Сервисы*/
.heading-title {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 3rem;
}
.services .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 1.5rem;
}
.services .box-container .box-service {
  padding: 1rem 2rem;
  text-align: center;
  background-color: #5d9b9bcc;
  cursor: pointer;
  user-select: none;
  transition: all 0.2s ease;
  border-radius: 15px;
}
.services .box-container .box-service:hover {
  background-color: black;
}
.services .box-container .box-service img {
  height: 4rem;
}
.services .box-container .box-service h2 {
  color: white;
  font-size: 1.7rem;
  padding-top: 1rem;
}

/*О нас*/
.tour-company-card {
  font-family: "Roboto Condensed", serif;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.705);
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-top: 20px;
  transition: transform 0.2s;
  margin-bottom: 2rem;
}

.tour-company-card:hover {
  transform: translateY(-4px); /* Эффект при наведении */
}

.card-image {
  width: 100%; /* Полная ширина для изображения */
  height: auto; /* Авто высота для сохранения пропорций */
}

.card-content {
  justify-content: center;
  text-align: center;
  padding: 25px;
  text-align: left; /* Выровнять текст слева */
}

.card-content h1 {
  font-size: 2.5rem; /* Увеличенный размер заголовка */
  margin-bottom: 15px;
  color: #333; /* Цвет заголовка */
}

.card-content h2 {
  font-size: 1.8rem; /* Увеличенный размер подзаголовков */
  margin-top: 20px;
  margin-bottom: 10px;
  color: #555; /* Цвет подзаголовка */
}

.card-content p {
  margin-bottom: 15px;
  line-height: 1.6; /* Увеличить высоту строки для лучшей читаемости */
  color: #666; /* Цвет текста */
}

.card-content ul,
.card-content ol {
  margin-bottom: 20px;
  padding-left: 20px; /* Отступ для списков */
}

.card-button-us {
  user-select: none;
  cursor: pointer;
  display: inline-block;
  margin-top: 20px;
  padding: 12px 24px;
  background-color: rgb(220, 166, 50); /* Цвет кнопки */
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 18px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.card-button-us:hover {
  background-color: rgb(200, 146, 30); /* Цвет кнопки при наведении */
  transform: scale(1.05); /* Увеличение кнопки */
}
/*Свайпер*/
main {
  min-width: 100vh;
  background-image: url(/img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.card-info {
  font-size: 3rem;
}
.card-wrapper {
  max-width: 1200px;
  margin: 0 60px 35px;
  padding: 20px 10px;
  overflow: hidden;
}

.card-info {
  text-align: center;
  padding-bottom: 40px;
}

.card-list .card-item {
  list-style: none;
}

.card-list .card-item .card-link {
  user-select: none;
  display: block;
  background: #fff;
  padding: 18px;
  border-radius: 12px;
  text-decoration: none;
  border: 2px solid transparent;
  box-shadow: 0 5px 5px rgba(0, 0, 0.05);
  transition: 0.2s ease;
}

.card-list .card-item .card-link:active {
  cursor: grabbing;
}

.card-list .card-item .card-link:hover {
  border-color: #5372f0;
}

.card-list .card-link .card-image {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: 10px;
}

.card-list .card-link .badge {
  color: #5372f0;
  padding: 8px 16px;
  font-size: 0.95rem;
  font-weight: 500;
  margin: 16px 0 18px;
  background: #dde4ff;
  width: fit-content;
  border-radius: 50px;
}

.card-list .card-link .badge.Turkey {
  color: rgb(5, 41, 65);
  background: #30d5c8;
}

.card-list .card-link .badge.Thailand {
  color: rgb(21, 83, 15);
  background: rgb(102, 255, 0);
}

.card-list .card-link .badge.Egypt {
  color: rgb(102, 78, 43);
  background: rgb(255, 208, 0);
}

.card-list .card-link .badge.Greece {
  color: rgb(255, 255, 255);
  background: rgb(32, 155, 177);
}

.card-list .card-link .badge.India {
  color: rgb(255, 255, 255);
  background: rgb(224, 117, 30);
}

.card-list .card-link .card-title {
  font-size: 1.19rem;
  color: #000;
  font-weight: 600;
}

.card-list .card-link .card-button {
  text-align: center;
  font-size: 1.2rem;
  color: #5372f0;
  border-radius: 10px;
  margin: 10px 0 5px;
  padding: 5px;
  background: none;
  cursor: pointer;
  border: 2px solid #5372f0;
  transition: 0.4s ease;
  text-align: center;
}

.card-list .card-link .card-button:hover {
  padding: 10px;
}

.card-wrapper h1 {
  font-size: 40px;
  padding: 20px 0;
}

.card-wrapper .swiper-pagination-bullet {
  height: 13px;
  width: 13px;
  opacity: 0.5;
  background: #5372f0;
}

.card-wrapper .swiper-pagination-bullet-active {
  opacity: 1;
}

.card-wrapper .swiper-slide-button {
  color: #5372f0;
  margin-top: -35px;
}
.card-list .route-select {
  width: 100%;
  max-width: 200px;
  padding: 5px;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
.card-list .price {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 600;
  color: #30c2d5;
  margin-top: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
}
.card-list .passenger-count {
  width: 100%;
  max-width: 100px;
  padding: 5px;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
  margin-top: 10px;
}

/*Футер*/
.footer {
  background-color: #2c3e50;
  color: #ecf0f1;
  padding: 20px 0;
  text-align: center;
  min-width: 100vh;
  position: relative;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
  min-width: 200px;
  padding: 15px;
}

.footer-section h3 {
  color: #f39c12;
}

.footer-section p,
.footer-section ul {
  margin: 0;
  padding: 5px 0;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section a {
  color: #ecf0f1;
  text-decoration: none;
  transition: color 0.3s ease, transform 0.3s ease;
}

.footer-section a:hover {
  color: #f39c12;
  transform: scale(1.1);
}

.footer-bottom {
  text-align: center;
  padding: 10px 0;
  background-color: #34495e;
}
/*О нас другая страница*/
.about-us-web {
  background-image: url(/img/about-us-web-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.main {
  font-family: "Roboto Condensed", serif;
  font-size: 1.2rem;
}
.main h1 {
  color: #0b6acf;
  font-size: 2.5em;
  margin-bottom: 20px;
}
.main h2 {
  color: #064a92;
  font-size: 2em;
  margin-top: 20px;
  margin-bottom: 10px;
}
.main p {
  text-shadow: 1px 2px 1px black;
  color: white;
  margin-bottom: 15px;
  text-align: justify;
}
.main ul {
  color: white;
  margin-bottom: 20px;
  list-style-type: disc;
  padding-left: 20px;
  text-shadow: 1px 2px 1px black;
}
.main ul li {
  color: white;
  margin-bottom: 10px;
  text-shadow: 1px 2px 1px black;
}

/*Бронирование*/
.body-booking {
  background-image: url(/img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.booking {
  min-width: 100vh;
  margin-bottom: 2rem;
}
.booking #bookingForm {
  padding: 2rem;
  background-color: rgba(211, 211, 211, 0.801);
  border-radius: 10px;
}
.booking-h1{
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-size: 3rem;
  text-align: center;
}
.booking #bookingForm .flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.booking #bookingForm .flex .inputBox {
  flex: 1 1 41rem;
}
.booking #bookingForm .flex .inputBox input {
  width: 100%;
  padding: 1rem 1rem;
  font-size: 1.6rem;
  color: rgb(83, 83, 83);
  text-transform: none;
  margin-top: 1.5rem;
  transition: all 0.2s ease-in-out;
}
.booking #bookingForm .flex .inputBox select {
  width: 100%;
  padding: 1rem 1rem;
  font-size: 1.6rem;
  color: rgb(83, 83, 83);
  text-transform: none;
  margin-top: 1.5rem;
  transition: all 0.2s ease-in-out;
}
.booking #bookingForm .flex .inputBox input:focus {
  background-color: black;
  color: white;
}
.booking #bookingForm .flex .inputBox input:focus::placeholder {
  background-color: black;
  color: rgb(182, 182, 182);
}
.booking #bookingForm .flex .inputBox label {
  font-size: 1.5rem;
}
.booking #bookingForm .flex button {
  background-color: #cf9f19;
  color: white;
  font-size: 2rem;
  padding: 1rem 2rem;
  border: none;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease;
  border-radius: 10px;
}
.booking #bookingForm .flex button:hover {
  background-color: #836206;
  padding: 30px;
}
#php-h2 {
  text-align: center;
}
@media screen and (max-width: 430px) {
  main {
    min-width: 100%;
    max-width: 100%;
  }
  body {
    padding: 0;
  }
  .header {
    position: relative;
    width: 100%;
    display: flex;
    flex-flow: column;
  }
  .header__container {
    display: flex;
    flex-flow: column;
  }
  .logo__img {
    width: 100%;
  }
  .btn-submit:active {
    padding: 9px;
    font-size: 37px;
    box-shadow: 1px 1px 5px 2px rgba(255, 255, 255, 0.7);
  }
  .modal {
    background: none;
    box-shadow: none;
    overflow: hidden !important;
  }
  .modal-box {
    padding: 25px;
  }
  .attention {
    background-attachment: local;
  }
  .attention-title {
    font-size: 1.5rem;
  }
  .attention-name {
    font-size: 2.5rem;
  }
  .attention-info {
    font-size: 1rem;
  }
  .attention-text {
    width: 100vh;
  }
  .attention-btn:active {
    padding: 9px;
    font-size: 21px;
    box-shadow: 1px 1px 5px 2px rgba(255, 255, 255, 0.7);
  }
  .info {
    font-size: 1rem;
  }
  .heading-title {
    font-size: 2rem;
  }
  .services .box-container .box-service {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  .services .box-container .box-service h2 {
    font-size: 1rem;
  }
  .swiper {
    bottom: 0;
    width: 100%;
  }

  .card-wrapper {
    margin: 0 10px 20px;
  }

  .card-wrapper h1 {
    font-size: 30px;
  }

  .card-wrapper .swiper-slide-button {
    display: none;
  }
  .footer {
    min-width: 100%;
  }
  .booking {
    min-width: 100%;
    max-width: 100%;
  }
  .booking-h1{
    font-size: 1.5rem;
  }
}
